/* Estilos generales para la tabla */
table {
    border-collapse: collapse; /* Elimina los espacios entre las celdas de la tabla */
    width: 80%; /* Ajusta el ancho según sea necesario */
    margin-top: 20px; /* Espacio superior de la tabla */
    border: 1px solid #ddd; /* Borde de la tabla */
}

/* Estilos para las celdas de la tabla */
th, td {
    text-align: left; /* Alineación del texto a la izquierda */
    padding: 15px; /* Espaciado interno de las celdas */
}

/* Estilo para las filas pares de la tabla */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

/* Estilos para las celdas de encabezado */
th {
    background-color: #528054; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    position: relative; /* Posicionamiento relativo para los iconos de ordenación */
    cursor: pointer; /* Cambia el cursor al pasar sobre el encabezado */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para el contenido del encabezado */
th .header-content {
    display: flex; /* Utiliza flexbox para alinear el contenido */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    justify-content: center; /* Alinea los elementos horizontalmente al centro */
}

/* Estilos para los inputs dentro del encabezado */
th input {
    margin-top: 5px; /* Margen superior para el input */
    width: 80%; /* Ancho del input */
}

/* Icono de orden ascendente */
th.sort-asc::after {
    content: '▲'; /* Contenido del icono */
    position: absolute; /* Posicionamiento absoluto */
    right: 10px; /* Espaciado desde la derecha */
}

/* Icono de orden descendente */
th.sort-desc::after {
    content: '▼'; /* Contenido del icono */
    position: absolute; /* Posicionamiento absoluto */
    right: 10px; /* Espaciado desde la derecha */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    table {
      width: 80%; /* Ajusta el ancho de la tabla en pantallas pequeñas */
    }
}

/* Estilos personalizados para la tabla */
.custom-table {
    width: 80%; /* Ancho de la tabla personalizada */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Elimina los espacios entre las celdas de la tabla */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para la tabla */
}